@model Experience
@{
    ViewData["Title"] = "CreateExperience";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Experiences</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Add new Experience</div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label> Company Name:</label>
                            <input type="text" asp-for="Head" class="form-control"/>

                            <label> Job Title:</label>
                            <input type="text" asp-for="Title" class="form-control" />

                            <label> Date:</label>
                            <input type="text" asp-for="Date" class="form-control" />

                            <label> Description:</label>
                            <textarea rows="4" class="form-control" asp-for="Description"></textarea>
                            <button class="btn btn-primary">Add new experience</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
